body{
    background-image: url(https://pm1.narvii.com/6344/36ab21dbf20631acbd96f3814b2c474a503d73d7_hq.jpg);
}
p{
    font-family: cursive;
    font: size 20px;;
}
.tudo{
    margin: auto;
    width: 960px;
    background-image: url(https://i.pinimg.com/originals/3a/3a/0e/3a3a0ec6e6431cb5e62a0542bb5c5db8.jpg);
}
.namisite{
    display: table;
}
.image{
    display: table-cell;
    float: left;
}
.text{
    display: table-cell;
    float: left;
}